@font-face {
	font-family: "Rajdhani-Light";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto-Regular"),
		url("../fonts/Rajdhani-Light.woff2") format("woff2"),
		url("../fonts/Rajdhani-Light.woff") format("woff");
}
@font-face {
	font-family: "Rajdhani-Regular";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto-Regular"),
		url("../fonts/Rajdhani-Regular.woff2") format("woff2"),
		url("../fonts/Rajdhani-Regular.woff") format("woff");
}
@font-face {
	font-family: "Rajdhani-Medium";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto-Regular"),
		url("../fonts/Rajdhani-Medium.woff2") format("woff2"),
		url("../fonts/Rajdhani-Medium.woff") format("woff");
}
@font-face {
	font-family: "Rajdhani-SemiBold";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto-Regular"),
		url("../fonts/Rajdhani-SemiBold.woff2") format("woff2"),
		url("../fonts/Rajdhani-SemiBold.woff") format("woff");
}
@font-face {
	font-family: "Rajdhani-Bold";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto-Regular"),
		url("../fonts/Rajdhani-Bold.woff2") format("woff2"),
		url("../fonts/Rajdhani-Bold.woff") format("woff");
}