/* Color variable */
$btn-bg: #FFCE33;
$green: #065806;
$white: #fff;
$scroll-bar: rgb(155, 155, 155);
$black: #000;
$shadow: rgba(0, 0, 0, 0.15);
//colors////@at-root
$black:#000;
$white:#fff;
$rgpawhiteclr:rgba(255,255,255,1);
$bgbule:rgba(5,12,65,1);
$rgpayellow:rgba(255,206,51,1);
$rgpablack:rgba(0,0,0,1);
$pinkclr:#F6EAC6;
$graybg:#F3F3F3;
$buleclr:#0F376C;
$solubg:#EBF1F8;
$expretisespan:#8CACDE;
$paraclr:#333333;
$ceoclr:#564936;
$lightwhite:#F9F9FB;
$cardpara:#666666;
$btntxtclr:rgba(15,55,108,1);
$linerclr: 180deg (#002453,#123C74,#123C74);





/* fonts variable */

$Rajdhani-Light: "Rajdhani-Light";
$Rajdhani-Regular: "Rajdhani-Regular";
$Rajdhani-Medium: "Rajdhani-Medium";
$Rajdhani-SemiBold: "Rajdhani-SemiBold";
$Rajdhani-Bold: "Rajdhani-Bold";