@import "./_fonts.scss";
@import "./_mixin.scss";
@import "./_variable.scss";

* {
	box-sizing: border-box;
	list-style-type: none;
}
body{
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
* {
	padding: 0;
	margin: 0;
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background: $scroll-bar;
	border-radius: 5px;
}
a {
	text-decoration: none;
}

.btn-warning {
	border-radius: 8px;
	background-color: $btn-bg;
	color: $green;
    padding: 10px 40px;
	&:focus {
		box-shadow: none;
	}
}
.btn-primary{
    border-radius: 8px;
	background-color: $buleclr;
	color: $white;
    padding: 10px 40px;
	&:focus {
		box-shadow: none;
	}
    &:hover{
        background-color: $buleclr;
    }
}



header {
    background-color: $bgbule;
	nav {
		@include Flex(flex, center);
		justify-content: space-between;
        input{
            display: none;
        }
		ul {
			@include Flex(flex, center);
            li{
                a{
                    color: $white;
                    padding: 0 30px;
                    &:first-child{
                        padding-right: 0;
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                    &:hover{
                        color: $white;
                    }
                }
            }
            .nav-dropdown {
                display: none;
                position: absolute;
                top: 10%;
                z-index: 1;
                box-shadow: 0 3px 12px $shadow;
                background-color: $white;
                li{
                    padding: 5px 0;
                }
                a{
                    color: $black;
                    font-size: 14px;
                    &:last-child{
                        padding-right: 30px;
                    }
                    &:hover{
                        color: $black;
                    }
                }
              }
		}
	}
}
.hero-sec{
    background-color: $bgbule;
    padding: 7rem 0;
    .hero{
        display: flex;
        align-items: center;
        position: relative;
        .hero-content{
            width: 52%;
            h2{
                font-size: 58px;
                line-height: 67px;
                color: $white;
                margin-bottom: 30px;
                font-family: $Rajdhani-Medium;
            }  
            p{
                font-size: 20px;
                line-height: 30px;
                color: $white;
                margin-bottom: 30px;
            }
            .form-control {
                display: inline-block;
                width: 40%;
                height: 45px;
            }
        }
        img{
            width: 70%;
            /* height: 100%; */
            position: absolute;
            top: 0;
            left: 54%;  
        }
        }
    }


    
 // responsive 
 .btns {
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.btns.menu-btn{
    color: $white;
    padding-right: 15px;
}
.btns.close-btn {
    color: $white;
    position: absolute;
    right: 30px;
    top: 10px;
}
.grp-of-imgs{
    background-color: $graybg;
    padding: 48px 0;
    .grp-img{
        display: flex;
        gap: 50px;
        align-items: center;
    }
}
.solution{
    padding: 6rem 0;
    background-color: $solubg;
    .solution-desk{
        justify-content: space-between;
        .solution-content{
            h2{
                font-size: 40px;
                line-height: 51px;
                font-family: $Rajdhani-Medium;
                // margin-bottom: 30px;
            }
            p{
                font-size: 20px;
                line-height: 30px;
                font-family: $Rajdhani-Medium;
                margin-bottom: 30px;
            }
        }
        .solu-box{
            .solu-content{
                background-color: $white;
                padding: 15px 20px;
                border-radius: 10px;
                // margin-bottom: 20px;
                img{
                    width: 80px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 18px;
                    font-family: $Rajdhani-Medium;
                    // span{
                    //     font-family: $Rajdhani-SemiBold;
                    // }
                }
            }
          
        }
    } 
}
.industry{
    padding: 7rem 0;
    .industry-content{
        p{
            font-size: 28px;
            line-height: 30px;
            font-family: $Rajdhani-Medium;
        }
        h2{
            font-size: 40px;
            line-height: 46px;
            font-family: $Rajdhani-Medium;
        }
    }
    .slick-slide img{
        width: 94%;
    }
    .parent-hover{
        &:hover{
            .visible{
                display: block;
            }
        }
    }
    .visible{
        display: none;
    }
    .slick-prev:before{
        background-image: url(../images/icon/circleright-arrow.png);
        background-size: cover;
        color: $white;
    }
    #slider{
        .hover-box{
            position: absolute;
            bottom: 0;
            padding: 30px;
            h3{
                color: $white;
                font-family: $Rajdhani-Bold;
                font-size: 40px;
                line-height: 46px;
            }
           h6{
                color: $white;
                font-family: $Rajdhani-Medium;
                font-size: 18px;
                line-height: 24px;
            }
            p{
                color: $white;
                font-family: $Rajdhani-Regular;
                font-size: 20px;
                line-height: 26px;
            }
            .arrow{
                width: 5%;
            }
        }
    }
}
.blogs{
    padding: 7rem 0;
    .blog-content{
        text-align: center;
        h2{
            font-size: 40px;
            line-height: 50px;
            font-family: $Rajdhani-Medium;
        }
        p{
            font-family: $Rajdhani-SemiBold;
            font-size: 18px;
            line-height: 28px;
        }
    }
    .blog-colms{
        display: flex;
        // align-items: center;
        text-align: center;
        justify-content: center;
        padding: 40px 60px 0;
        .blogs-colms{
            border-right:1px solid $graybg ;
            h1{
                font-size: 102px;
                color: $buleclr;
                line-height: 138px;
                font-family: $Rajdhani-Bold;
            }
            p{
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}
.expertise{
    padding: 6rem 0 2rem;
    background-color: $bgbule;
    color: $white;
    .expertise-content{
        // width: 48%;
        span{
            font-size: 28px;
            line-height: 30px;
            color: $expretisespan;
        }
        h2{
            margin-top: 24px;
            font-size: 40px;
            line-height: 50px;
            font-family: $Rajdhani-Medium;
            color: $white;
            margin-bottom: 30px;
        }      
    }
    .box-cotent{
        h3{
            font-size: 26px;
            line-height: 30px;
            font-family: $Rajdhani-Medium;
            display: flex;
            align-items: flex-end;
            margin-bottom: 14px;
        }
        p{
            color: $expretisespan !important;
            font-size: 18px;
            line-height: 23px;
            font-family: $Rajdhani-Medium;
            margin-bottom: 26px;
        }
    }
}
.partner{
    padding: 5rem 0;
    .partner-logos{
        display:flex;
        justify-content: space-between;
    }
}
.our-company{
    background-color: $solubg;
    padding: 120px 0; 
    .slick-initialized .slick-slide {
        display: flex;
    }    
    .slider-text{
        p{
            color: $paraclr;
            font-size: 20px;
            line-height: 26px;
            font-family: $Rajdhani-Medium;
        }
        h4{
            color: $buleclr;
            font-size: 30px;
            line-height: 36px;
            font-family: $Rajdhani-Bold;
        }
        h5{
            color: $ceoclr;
            font-size: 20px;
            line-height: 26px;
            font-family: $Rajdhani-SemiBold;
        }
    }   
    .play-center{
        img{
            position: absolute;
            top: 50%;
            left: 35%;
            transform: translate(-50%, -50%);
        }
    } 
}
.cases{
    padding: 7rem 0;
    background-color: $bgbule;
    .cases-content{
        h2{
            font-size: 40px;
            line-height: 50px;
            color: $lightwhite;
            font-family: $Rajdhani-Regular;
           
        }
        p{
            font-family: $Rajdhani-Medium;
            font-size: 18px;
            list-style: 25px;
            color: $white;
        }
    }
    .sky-bule{
        color: $expretisespan;
        font-family: $Rajdhani-SemiBold;
    }
    .case-sec{
        margin-top: 60px;
        h3{
            font-size: 26px;
            line-height: 33px;
            font-family: $Rajdhani-Regular;
            color: $white;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            line-height: 25px;
            color: $white;
            font-family: $Rajdhani-Medium;
            margin-bottom: 30px;
        }
        a{
            color: $expretisespan !important;
            font-family: $Rajdhani-Medium;
        }
    }   
}
.technology{
    padding: 7rem 0;
    img{
        width: 95%;
    }
        h2{
            font-size: 40px;
            line-height: 40px;
            font-family: $Rajdhani-SemiBold;
            color: $black;
        }
        p{
            font-size: 20px;
            line-height: 30px;
            color: $black;
            font-family: $Rajdhani-Medium;
        }
    .warpper{
        background-image: url('../images/solution-img/bg-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 120px;
        .loarm-content{
            text-align: center;
            padding: 5rem 0;
            h1{
                font-size: 45px;
                line-height: 50px;
                color: $white;
                font-family: $Rajdhani-SemiBold;
            }
            p{
                font-size: 15px;
                line-height: 19px;
                color: $white;
                font-family: $Rajdhani-Medium;
            }
            .btn-primary{
                background-color: $white;
                padding: 7px 30px;
                color: $btntxtclr;
                font-size: 20px;
                font-family: $Rajdhani-Bold;
            }
        }
    }
}
footer{
    background-color: $bgbule;
    padding: 1rem 0;
    position: relative;
    h3{
        font-size: 24px;
        line-height: 30px;
        color: $white;
        font-family: $Rajdhani-SemiBold;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        li{
            padding-top: 5px;
            a{
                font-size: 17px;
                line-height: 22px;
            }
        }
    }
    .trace{
        position: absolute;
        top: 90%;
        z-index: 1;
        width: 15%;
    }
}
.rights{
    padding: 3rem 0;
    background-image: linear-gradient(180deg, #002453, #123C74, #123C74);
    .copy-rights{
        border-bottom: 1px soild ;
        // padding-bottom: 15px;
        .copyright-page{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $graybg;
            padding-bottom: 10px;
            .left-sec{
                display: flex;
                gap: 20px;
                img{
                    border-right: 1px solid $graybg;
                    padding-right: 15px;
                }
                h2{
                    font-size: 22px;
                    line-height: 25px;
                    color: $white;
                }
            }
           .social-media{
            img{
                padding-right: 10px;
            }
           }
        }  
    }
    .copy-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: 16px;
            line-height: 21px;
            color: $white;
            display: flex;
        }
        .conditions{
            display: flex;
            align-items: center;
            margin-right: 120px;
        }
    }
   
}

/* Media queries */
@media screen and (max-width: 1024px) {
	.btns {
		display: block;
	}
    .dis-none{
        display: none;
    }
	.nav-links {
		position: fixed;
		height: 100vh;
		width: 100%;
		max-width: 100%;
		top: 0;
		left: -100%;
		background: #242526;
		display: block;
		padding: 50px 10px;
		line-height: 50px;
		overflow-y: auto;
		box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
		transition: all 0.3s ease;
	}

	#menu-btn:checked ~ .nav-links {
		left: 0%;
	}

	#menu-btn:checked ~ .btns.menu-btn {
		display: none;
	}

	#close-btn:checked ~ .btns.menu-btn {
		display: block;
	}
}
@media screen and (max-width: 1024px) {
    .hero-sec .hero .hero-content{
        width: 100%;
    }
    .hero-sec .hero {
        display: block;
    }
    .hero-sec .hero img{
        position: inherit;
    }
    .grp-of-imgs .grp-img{
        display: grid;
    }
    .row{
        display: block;
    }
}

